html, body {
    width: 500px;
    margin: 0;
    padding: 0 10px 0 0;
    overflow-x: hidden;
    background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);
}

h1 {
    margin: 0;
    font-weight: 600;
}

hr {
    border: 1px solid lightblue;
    height: 0;
    padding: 0;
    line-height: 0;
}

.header-links {
    float: right;
    margin-top: -20px;
}

.header-links a {
    color: #999999;
    margin-right: 10px;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.body {
    padding: 6px;
}

.button {
    padding: 6px 8px;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.826);
    color: black;
        
    box-shadow: 0 0 5px 1px lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.button-fullwidth {
    width: 100%;
    display: block;
    text-align: center;
}

.fullwidth {
    width: 100%;
    display: block;
}

#stats .leftColumn {
    width: 50%;
    float: left;
}

#stats .rightColumn {
    width: 50%;
    float: left;
}

.column33 {
    width: 33%;
    float: left;
}

.column50 {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
}

.add{
    display: none;
}

#startButton, #stopButton {
    background: url('img/run.svg') no-repeat 4px 5px;
    background-size: 20px;
    padding-left: 26px;
    background-color: rgba(255, 255, 255, 0.826);
    color: black;

    box-shadow: 0 0 5px 1px lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.19);

}

#resetButton {
    background: url('img/reload.svg') no-repeat 4px 5px;
    background-size: 20px;
    padding-left: 26px;
    margin-left: 0.5em;
    
    background-color: rgba(255, 255, 255, 0.826);
    color: black;

    box-shadow: 0 0 5px 1px lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

#statsListItems {
    overflow: hidden;
    font-size: 12px;
}

ul#statsListItems {
    margin: 0;
    padding: 10px;
}

#statsListTitle {
    color: #999999;
    font-style: italic;
}

#equivalence img {
    margin-top: -8px;
    width: 50px;
    float: left;
}

#equivalence img.icon-car {
    width: 44px;
    margin-right: 6px;
}

#equivalence .block {
    font-size: 16px;
}

#equivalence span.unit {
    font-size: 10px;
    display: block;
}

.selectRegionHelp {
    margin-top: 0px;
}
